gnm2.01|arahy.Tifrunner.gnm2.Arahy.01	gnm2.11|arahy.Tifrunner.gnm2.Arahy.11
gnm2.02|arahy.Tifrunner.gnm2.Arahy.02	gnm2.12|arahy.Tifrunner.gnm2.Arahy.12
gnm2.03|arahy.Tifrunner.gnm2.Arahy.03	gnm2.13|arahy.Tifrunner.gnm2.Arahy.13
gnm2.04|arahy.Tifrunner.gnm2.Arahy.04	gnm2.14|arahy.Tifrunner.gnm2.Arahy.14
gnm2.05|arahy.Tifrunner.gnm2.Arahy.05	gnm2.15|arahy.Tifrunner.gnm2.Arahy.15
gnm2.06|arahy.Tifrunner.gnm2.Arahy.06	gnm2.16|arahy.Tifrunner.gnm2.Arahy.16
gnm2.07|arahy.Tifrunner.gnm2.Arahy.07	gnm2.17|arahy.Tifrunner.gnm2.Arahy.17
gnm2.08|arahy.Tifrunner.gnm2.Arahy.08	gnm2.18|arahy.Tifrunner.gnm2.Arahy.18
gnm2.09|arahy.Tifrunner.gnm2.Arahy.09	gnm2.19|arahy.Tifrunner.gnm2.Arahy.19
gnm2.10|arahy.Tifrunner.gnm2.Arahy.10	gnm2.20|arahy.Tifrunner.gnm2.Arahy.20
